/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEFAULT ANCOR TAG */
a {
    text-decoration: none;
}

/* VARIABLES */
:root {
    /* Colors */
    --primary-color: #3161E0;
    --secondary-color: #8EA1E1;
    --dark-gray-color: #23272A;
    --light-gray-color: #F6F6F6;
    --footer-bg-color: #23272A;     
}

img {
    max-width: 100%;
}

.small-button-white{
    background-color:white;
    color: black;
    border-radius: 2rem;
    
}

.small-button-white a {
    /* width: 100%;
    display: inline-block; */
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    /* background-color: red; */
}


.big-button-white {
    background-color: white;
    color: black;
    border-radius: 2rem;
    padding: 10px 20px;

}

.small-button-violet {
    background-color: #3161E0;
    color: white;

}

.big-button-dark {
    background-color: #23272A; 
    color: white;
    border-radius: 2rem;
    padding: 10px 20px;
}



/* debug and eyes relax */
body{
    background-color: rgb(228, 218, 218);
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    
}

/* COMMOND */
/* Class utility container */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

/* FLEX CLASS HEADER TOP */
.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* HEADER-TOP */
.header-top{
    /* height: 50px; */
    background-color:  var(--primary-color);

    
}

/* LIST OF LINKS */
ul.nav {
    /* debug */
    list-style-type: none ;
    width: 50%;
}

.nav a {
    text-decoration: none;
    color: white;
    
}



/* CONTAINER-TOP */
.header-top .container {
    /* debug */
    /* background-color: rgb(189, 189, 37); */
    /* border: 1px black dashed;  */
    /* height: 30px;  */
          
}

/* container blu, father of pink block */
#pinkcontainer {
    height: 250px;
}

/* MENU LINK */
.flex-nav{
    /* debug */
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;   
    
}

/* LOGO HEADER */
.logo {
    /* debug */
    width: 15%;
    margin: 5px 0;
    /* line-height: 30px; */
    /* padding-left: 10px; */
    /* border-right: 1px dashed black; */
}

/* LOGIN OPTION HEADER  */
.action {
    /* debug */
    width: 10%;
    line-height: 30px;
    /* padding-right: 10px; */
    /* border-left: 1px dashed black; */
    text-align: right;
}

.article {
    /* debug */
    /* height: 200px; */
    height: 300px;
    width: 70%;
    /* background-color: rgb(204, 60, 156); */
    /* border: 1px dashed black; */
}

.flex-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-button-head {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.main-header h1 {
    font-size: 2.5rem;
    text-align: center;
}
.main-header {
    /* debug */
    /* background-color: rgb(4, 4, 100); */
    /* height: 250px; */
    /* box-shadow: 0 2px 5px rgb(136, 202, 240); */
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;
    background-position: center;    
}



.blu{
    /* debug */
    /* border: 1px dashed black; */
    /* background-color: blue; */
    height: 300px;
    width: calc(2/3 * 800px);
}

.pink{
    /* debug */
    /* background-color: pink; */
    /* border: 1px dashed black; */
    height: 200px;
    width: calc(1/3 * 800px);
}
 
/* FLEX CLASS FOR MAIN SECTIONS NO REVERSE */
.flex-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}    

/* SECTION TEXT "PINK"  */

.pink {
    color: black;
    
}

/* FLEX CLASS DIV TEXT SECTION */

.flexpink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 /* FLEX CLASS FOR REVERSE BLOCK */
.flex-main-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 250px;

}

.main-section img {
    height: 100%;
    

}
 /* COLOUR FOR REVERSE BLOCK */
.main-section-reverse {
    background-color: rgb(102, 98, 98);
}

.green {
    /* debug */
    background-color: green;
    height: 400px;
    width: 800px;
    border: 1px dashed black;
    
}

/* GREENBLOCK DEBUG */
.greenblock {
    background-color: rgb(102, 98, 98);    
}

/* FLEX CLASS FOR GREEN BLOCK */
.flex-green {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

/* FLEX CLASS FOR TOP FOOTER */
.flex-top-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 255px; /* Affiche nel mio live server comparisse il piu fedele allo screen ho dovuto optare per questo stratagemma. compaiono ora i 2 bordi quasi sovrapposti */
    border: 2px dashed black; 
    
}

/* PINK BLOCK */
#pinkblock {
background-color: salmon;
    width: calc(800px * 2/5);
    height: 250px;
    border-right: 2px dashed black;
    
}

/* AQUAMARINE BLOCKS */
.aquamarine {
    background-color: aquamarine;
    width: calc(800px / 5);
    height: 250px;
    border-right: 2px dashed white;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    
}

/* MAIN FOOTER TOP */
.footer-top {
    height: 300px;
    background-color: rgb(65, 64, 64);
    border-bottom: 1px white solid;
    padding-top: 10px;
}

/* MAIN FOOTER BOT */
.footer-bot {
    height: 70px;
    background-color: rgb(65, 64, 64);
    border-bottom: 1px white solid
}


/* CLASS FLEX BOT FOOTER    */
.flex-bot-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
 
/* BACKGROUND BOTTOM FOOTER */
.back-footer-bottom {
    background-color: aqua;
    width: 800px;
    height: 40px;
}

/* FLEX CLASS MAIN BOT FOOTER */
.last-flex {
    display: flex;
    align-items: flex-end;
 
}

/* BUTTON */
button {
    border: 1px dashed black;
}